html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2000px;
    overflow-x: hidden;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}



.fondo {
    background: url("/imagenes/fondoPag.webp");
    color: #FFFFFF; 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; 
    height: 100%;
}

/*Navbar*/


.encabezado {
    background-color: rgba(0, 51, 102, 0.9);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0); 
    position: sticky;
    top: 0;
    padding: 20px;
    width: 100%;
    z-index: 99999;
    transition: padding 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}


.logoPrincipal {
    height: 50px; 
    margin-right: 100px;  
    display: flex; 
    align-items: center; 
    transition: margin 0.3s ease; 
}

.main-navbar {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center; 
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: margin-right 5.00s ease;
}

.nav-item {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:last-child {
    margin-right: 0; 
}

.nav-item:hover {
    background-color: #040c87; 
    color: white; 
}


/* Introduccion */


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    text-align: center;
    color: #333; 
    
}

.titulo-intro {
    color: #FFFFFF;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.texto-intro{
    color: #FFFFFF;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}

.buttons {
    margin-top: 20px;
}

.btn-1 {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #a44100;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-1:hover {
    background-color: #db7405; 
}

.btn-2 {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #0b0b0b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-2:hover {
    background-color: #0056b3; 
}


/* Contenido */

.contenido-principal {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    padding: 0;
    width: 100%;
}

.contenido-principal::after {
    content: "";
    display: table;
    clear: both;
}

/*Segundo Bloque */

.sistemas {
    text-align: center;
    margin-top: 20px;
}

.fila-sistemas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.sist-operativo {
    flex-basis: 30%;
    text-align: center;
}

.icon{
    width: 50px;
    height: 50px;
}

.sist-operativo img.icono {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.sist-operativo h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #000000;
}

.sist-operativo p {
    font-size: 0.9em;
    line-height: 1.5;
}


.bloque {
    background: #dadcde;
    border-radius: 12px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
    padding: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.bloque:hover {
    transform: translateY(-8px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}


.bloque p {
    line-height: 1.7; 
    color: #444; 
    font-family: 'Verdana', sans-serif; 
}

.subtitulo {
    color: #0078D4; 
    font-size: 26px; 
    font-family: 'Verdana', sans-serif; 
    margin-bottom: 20px; 
    border-bottom: 2px solid #0078D4; 
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}


.bloque p, .subtitulo {
    font-size: 18px;
}


.icono{
    width: 40px;
    margin-left: 10px;
}


.img-linux{
    float:right; 
    margin: 0 0 10px 10px;
    width: 500px;
    border-radius: 20px;
}


/*VIDEO*/

.bloque-video {
    margin: 20px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
}

.video-container {
    max-width: 60%;  
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px; 

}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


/* Encuestas */

.actividades {
    background-color: #ffffff; 
    color: #000000;
    padding: 20px;
    flex: 1;
    min-width: 280px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-start; 

}


.test {
    flex: 1; 
    margin-right: 20px;
}


.boton-enviar {
    width: 160px;
    font-size: 17px;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #6b6bca; 
}

.boton-enviar:hover {
    background-color: #414271;
}



/* Footer */


.fin {
    background-color: #585858; 
    padding: 20px;
    text-align: center; 
}

.fin p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    font-family: 'Arial', sans-serif;
    text-align: center; 
}

#contactos {
    margin-top: auto;
    width: 100%;
}
